*{
padding: 0;
margin: 0;
box-sizing: border-box;


}
.header{
background-color:red;
color: white;
text-align: center;
padding: 20px 0;


}
.header__title{
font-size: 26px;


}
.header__nav-list{

    margin-top: 20px;
}
.nav-list{
display:flex ;
flex-direction: row;
justify-content: center;
gap: 20px;
list-style-type: none;
padding: 0;
flex-wrap: wrap;
}
.nav-list__link {
text-decoration: none;
color: white;
font-weight: bold;

}
.nav-list__link--active{
color: blue;


}
.main{
padding: 40px;


}
.about__title ,.portfolio__title,.contact__title{
font-size: 28px;
padding: 24px 0;

}
.about__texte {

margin-bottom: 20px;

}
.portfolio__cards {
display: flex;
justify-content: space-between;
gap: 30px;


}
.project {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border:  1px solid #ccc;
margin-bottom: 20px;
padding: 20px;
text-align: center;
}
.project__img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 8px;
}
.project__title {
font-size: 18px;


}


.project__btn {
background-color: #333;
padding: 10px 20px;
color: white;
}
.contact__label{
display: block;
margin-top: 5px;
font-weight: bold;
}

.contact__label,.contact__textarea{
resize: none;
width: 100%;
max-width: 500px;
border: 1 solid #ccc;
}





.contact__submit{

background-color: blue;
color: white;
padding: 10px 20px;
border: none;
margin-top: 7px;
}
.footer{
background-color: black;
color: white;
padding: 20px 0;
text-align: center;
margin-top: 40px;
}
@media screen and ( max-width:900px){
.portfolio__cards{
flex-direction: column;


}



}